<?xml version="1.0" encoding="utf-8"?>
<annabelleConfig xmlns:config="urn:telerik:sitefinity:configuration"
 xmlns:type="urn:telerik:sitefinity:configuration:type" 
 config:version="13.3.7624.0" 
 FaceBookUsername="Lino" 
 FaceBookPassword="[sf-scrt-rslvr=Encrypt]g3bB3Xo2vWt2d/QOoSe2QqwokEWX0Slrl03leGo3b74SAAAA" />