<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="http://localhost:5000/signin-oidc" />
					</redirectUris>
					<postLogoutRedirectUris>
						<add redirectUri="http://localhost:3000/auth/oidc/sign-out" />
					</postLogoutRedirectUris>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="http://localhost:5000" />
					</allowedCorsOrigins>
				</add>
				<add clientId="LinoApp" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" allowedScopes="openid offine_access" clientName="LinoApp">
					<clientSecrets>
						<add clientSecret="linosecret" />
					</clientSecrets>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="*" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
			<scopes>
				<add displayName="offline_access" scopeType="Resource" name="offline_access" />
			</scopes>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>