<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0">
	<databaseMappingOptions splitTablesIgnoredCultures="en,es" />
	<connectionStrings>
		<add connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Sitefinity.mdf" name="Sitefinity" />
	</connectionStrings>
</dataConfig>