<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0">
	<providers>
		<add title="LinoNewsProvider" type="TheTrainingboss.SFADVDev.Providers.CustomNewsProvider" name="LinoNewsProvider" />
	</providers>
</newsConfig>