<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="ECCC23AF38A87089FD89816DC12BDE94971FD2DD66CBE8FDB456DBF5D46BEF31FE60A3BE649D89DB70D8B206A58C9EA720F21FBA141B7CB49BFB6EC7FFED1D7F" decryptionKey="2A069F243E4E67B60B63291476948BCDA7A89DC7BCA58D74213A1D9FBA0EB038" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="9871E398F88EE53C97C4134CD5B32DFF19AB51FF052431F15F08A98470557742" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="9871E398F88EE53C97C4134CD5B32DFF19AB51FF052431F15F08A98470557742" realm="http://localhost" />
	</relyingParties>
	<membershipProviders>
		<add title="Lino Membership Provider" type="TheTrainingboss.SFADVDev.Providers.CustomMembershipProvider" name="LinoMembershipProvider" />
	</membershipProviders>
</securityConfig>