<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7624.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add urlName="default" config:flags="1">
					<types>
						<remove clrType="Telerik.Sitefinity.Multisite.Model.Site" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Event" />
						<remove clrType="Telerik.Sitefinity.Events.Model.Calendar" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Image" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Document" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Video" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.Album" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.DocumentLibrary" />
						<remove clrType="Telerik.Sitefinity.Libraries.Model.VideoLibrary" />
						<remove clrType="Telerik.Sitefinity.Forms.Model.FormDraft" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.List" />
						<remove clrType="Telerik.Sitefinity.Lists.Model.ListItem" />
						<remove clrType="Telerik.Sitefinity.GenericContent.Model.ContentItem" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.Taxonomy" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.FlatTaxon" />
						<remove clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" />
						<remove clrType="Telerik.Sitefinity.Model.Folder" />
						<remove clrType="Telerik.Sitefinity.Pages.Model.PageNode" />
					</types>
				</add>
				<add name="Target" accessControlAllowOrigin="https://www.target.com" autogenerateTypes="True" urlName="target" />
			</services>
		</add>
	</Routes>
</webServicesConfig>